
<div class="container">
  <% if @board.present? %>
    <h1 class="mb-4">Board Details</h1>

    <div class="card bg-light mb-4">
      <div class="card-body">
        <h5 class="card-title">Name: <%= @board.name %></h5>
        <h5 class="card-title">Email: <%= @board.email %></h5>
      </div>
    </div>

    <div class="board-container">
      <div class="minesweeper-board">
        <% @board.visual.each do |row| %>
          <div class="board-row">
            <% row.each do |cell| %>
              <div class="board-cell">
                <%= cell == :x ? 'ðŸ’£' : 'â—»ï¸' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>Board not found.</p>
  <% end %>

  <%= link_to 'Back', root_path, class: 'btn btn-primary mt-4' %>
</div>


